<button (click)="assemble(instructions, instructionGrammars, macroGrammars)">Assemble</button>
<div class="row">
	<div class="col-sm-4">
		<p>Instructions:</p>
		<textarea rows="10" cols="50" #instructions></textarea>
	</div>
	<div class="col-sm-4">
		<p>Instruction grammars:</p>
		<textarea rows="10" cols="50" #instructionGrammars></textarea>
	</div>
	<div class="col-sm-4">
		<p>Macro grammars:</p>
		<textarea rows="10" cols="50" #macroGrammars></textarea>
	</div>
</div>
<div>
	<pre>{{binary}}</pre>
</div>